<div id="light"></div>
<div id="dumbledore">
  <p class="quote" id="part1">Happiness can be found, even in the darkest of times, </p>
  <p class="quote" id="part2">if one only remembers </p>
  <p class="quote" id="part3">to turn on the light</p>
</div>

<% if current&.is_admin %>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to "/next", {:controller => :welcome, :action => 'next', method: :post, class: "btn btn-secondary"} do %>
        <button type="button" class="btn btn-secondary">START</button>
      <% end %>
    </div>
  </div>
  </div>
<% end %>

<script>
    updateRank = setInterval(function () {
        $(() => $.ajax({
            type: "GET",
            url: "/rank",
            success: function (data) {
                if (data !== 0) {
                    clearTimeout(updateRank)
                    window.location.replace("/questions/" + data);
                }
            }
        }));
    }, 1000);

    let wand = document.getElementById("light");
    let quote = document.getElementById("dumbledore");
    setInterval(function () {
        wand.classList.add("lumos");
        quote.classList.add("faded");
        setTimeout(() => {
            wand.classList.remove("lumos")
            quote.classList.remove("faded");
        }, 5000);
    }, 8000)

</script>