/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    text-align: center;
    background: #03010d;
    background: -moz-linear-gradient(top,  #03010d 0%, #02010e 100%);
    background: -webkit-linear-gradient(top,  #03010d 0%,#02010e 100%);
    background: linear-gradient(to bottom,  #03010d 0%,#02010e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03010d', endColorstr='#02010e',GradientType=0 );
    color: white;
}

table {
    margin: 0 auto;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline;
}

.current {
    margin: 50px;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.row {
    display: flex;
    height: 100px;
    width: 50%;
    margin: 0 auto;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
}

.question {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 100px;
}

.question fieldset {
    border: 2px solid gold;
}

.question legend {
    color: gold;
    font-weight: bold;
}